.mainContainer {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.quantityContainer {
	display: flex;
	align-items: center;
}

.donationParameters {
	display: flex;
	flex-direction: column;
}
